PORT=3000
LOG_LEVEL=info
NODE_ENV=development

# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=loyalty_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root

# MongoDB
MONGO_URI=mongodb://localhost:27017/loyalty_logs
MONGO_DEBUG=false

# JWT
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=7d


DD_SITE=us5.datadoghq.com
DD_SERVICE=loyalty-app-api

LOG_FORMAT=pretty

